.clr {
    color: brown;
}

.header {
    height: 2.5rem;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

ul > li {
    display: inline-block;
    margin-left: 1.5rem;
}
.nav-item {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    font-weight: 1000;
    cursor: pointer;
}